/* .VideoList {
  align-items: stretch;
  width: 100%;
  display: flex;
  justify-content: center;
}
.VideoList a {
  height: 150%;
  margin: 45px;
  display: grid;
}
.VideoList img {
  height: 150%;
} */
.VideoContainer {
  font-size: larger;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.VideoList {
  margin: 10px;
  border: 5px solid #f9b1ea;
}
.VideoList img {
  padding-top: 18px;
  height: 400px;
}
